.rmdb-heroimage {
  position: relative;
  background-color: #1c1c1c;
  background-size: 100%, cover;
  background-position: center, center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rmdb-heroimage-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 600px;
}

.rmdb-heroimage-text {
  max-width: 700px;
  margin: 40px 0;
  color: #fff;
  text-shadow: 1px 1px #1c1c1c;
}

.rmdb-heroimage-text p {
  font-size: 1.4rem;
  line-height: 1.25;
}

@media screen and (max-width: 720px) {
  .rmdb-heroimage-text {
    max-width: 100%;
  }

  .rmdb-heroimage-text h1 {
    font-size: 2.2em;
  }

  .rmdb-heroimage-text p {
    font-size: 1rem;
  }
}
