.rmdb-heroimage {
  position: relative;
  background-color: #1c1c1c;
  background-size: cover;
  background-position: center;
  animation: fadeIn 1s;
}

.rmdb-heroimage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0000 40%, #000a);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rmdb-heroimage-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 600px;
}

.rmdb-heroimage-text {
  max-width: 700px;
  margin: 40px 0;
  color: #fff;
  text-shadow: 0 1px 2px #1c1c1c;
}

.rmdb-heroimage-text p {
  font-size: 1.4rem;
  line-height: 1.25;
}

@media screen and (max-width: 720px) {
  .rmdb-heroimage-text p {
    font-size: 1.2rem;
  }
}