.rmdb-loadmorebtn {
  padding: 0.5em;
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  background-color: hsl(155, 75%, 35%);
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .rmdb-loadmorebtn {
    font-size: 1.75rem;
  }
}

.rmdb-loadmorebtn:hover {
  background-color: hsl(155, 75%, 40%);
}

.rmdb-loadmorebtn:active {
  background-color: hsl(155, 75%, 30%);
}

.rmdb-loadmorebtn:focus:active {
  outline: none;
}
