.rmdb-loadmorebtn {
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  background-color: #16d47b;
  border: 0;
  cursor: pointer;
}

.rmdb-loadmorebtn:hover {
  background-image: linear-gradient(#0002, #0001);
}

.rmdb-loadmorebtn:active {
  color: #fafafa;
  background-image: linear-gradient(#0003, #0004);
}

.rmdb-loadmorebtn:focus:active {
  outline: none;
}
