.block {
  padding-top: 0.5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 30px;
}

.element {
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px -3px var(--shadow-color);
}

@media screen and (max-width: 1000px) {
  .content {
    grid-gap: 20px;
  }
}
