.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-color);
}

.open {
  composes: overlay;
  display: flex;
}

.content {
  color: var(--text-color);
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.75em 1em;
}

.title {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}
