.card {
  display: flex;
  color: #f3f3f3;
}

.link {
  text-decoration: none;
  color: #c3c3c3;
}

.link:hover,
.link:focus {
  color: #f3f3f3;
}

.link:active {
  color: #777777;
}

.image {
  flex-shrink: 0;
  width: 40%;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

.info {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.name {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.character {
  font-size: 1.1rem;
  margin: 0.5em 0;
}
