.block {
  display: flex;
  margin-top: 20px;
}

.value {
  margin: 0;
}

.scale {
  width: 250px;
  height: 1.5em;
}

.scale::-webkit-meter-bar {
  width: 230px;
  height: 1.5em;
  background-color: var(--theme-light);
}

.scale::-webkit-meter-optimum-value {
  background-color: var(--theme-green);
}

.scale::-webkit-meter-suboptimum-value {
  background-color: var(--theme-yellow);
}

.scale::-webkit-meter-even-less-good-value {
  background-color: var(--theme-red);
}

@media screen and (max-width: 720px) {
  .scale {
    width: 170px;
    height: 1.25em;
  }

  .scale::-webkit-meter-bar {
    width: 150px;
    height: 1.25em;
  }
}
