.wrapper {
  display: flex;
  margin-top: 20px;
}

.value {
  margin: 0;
}

.scale {
  width: 250px;
  height: 1.5em;
}

.scale::-webkit-meter-bar {
  width: 230px;
  height: 1.5em;
  background-color: #f3f3f3;
}

.scale::-webkit-meter-optimum-value {
  background-color: #16d47b;
}

.scale::-webkit-meter-suboptimum-value {
  background-color: #fbb450;
}

.scale::-webkit-meter-even-less-good-value {
  background-color: #ee5f5b;
}

@media screen and (max-width: 720px) {
  .scale {
    width: 170px;
    height: 1.25em;
  }

  .scale::-webkit-meter-bar {
    width: 150px;
    height: 1.25em;
  }
}
