.rmdb-header {
  background-color: #1c1c1c;
}

.rmdb-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rmdb-header-content img {
  display: block;
}

.rmdb-logo {
  width: 300px;
}

.rmdb-tmdb-logo {
  width: 120px;
}

@media screen and (max-width: 720px) {
  .rmdb-logo {
    width: 150px;
  }

  .rmdb-header-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .rmdb-tmdb-logo {
    width: 80px;
  }
}
