.rmdb-breadcrumbs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: #353535;
}

@media screen and (max-width: 720px) {
  .rmdb-breadcrumbs {
    font-size: 1.25rem;
  }
}

.rmdb-breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rmdb-breadcrumbs-item,
.rmdb-breadcrumbs-item a {
  color: #f3f3f3;
  padding-right: 0.5em;
  text-decoration: none;
}

.rmdb-breadcrumbs-item:not(:last-child)::after {
  content: '/';
}
