.block {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: #353535;
}

@media screen and (max-width: 720px) {
  .block {
    font-size: 1.25rem;
  }
}

.list {
  composes: container from global;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item,
.item a {
  color: #f3f3f3;
  padding-right: 0.5em;
  text-decoration: none;
}

.item:not(:last-child)::after {
  content: '/';
}
