.rmdb-infobar {
  background-color: #1c1c1c;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
}

.rmdb-infobar-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #f3f3f3;
}

.rmdb-infobar-item {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding: 0.5em 0;
  font-size: 1.4rem;
}

.rmdb-infobar-info {
  margin-left: 0.5em;
}

@media screen and (max-width: 720px) {
  .rmdb-infobar-item {
    font-size: 1rem;
  }
}