.block {
  background-color: #1c1c1c;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
}

.list {
  composes: container from global;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #f3f3f3;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding: 0.5em 0;
  font-size: 1.25rem;
}

.text {
  margin-left: 0.5em;
}

@media screen and (max-width: 720px) {
  .block {
    padding: 10px 0;
  }

  .item {
    font-size: 1.1rem;
    margin-right: 1em;
    padding: 0.25em 0;
  }
}
