.rmdb-searchbar {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  background: #1c1c1c;
}

.rmdb-searchbar-label {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #353535;
}

.rmdb-fa-search.fa-search {
  margin-right: 0;
  padding: 10px 15px;
}

.rmdb-searchbar-input {
  flex-grow: 1;
  height: 55px;
  padding-right: 40px;
  font-family: inherit;
  font-size: 2.5rem;
  border: 0;
  color: #fff;
  background-color: #0000;
}

.rmdb-searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .rmdb-searchbar-input {
    font-size: 28px;
    color: #fff;
  }
}
