body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin: 1em 0 0.5em;
}

h2 {
  font-size: 2rem;
  margin: 1em 0 0.75em;
}

h3 {
  font-size: 1.5rem;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
